html {
    scroll-behavior: smooth;
  }

.container-fluid {
    padding: 0;
}

body {
    font-family: 'Cormorant Garamond', serif;
    background-color: #DEB8A7;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.popup-undangan {
    background-image: linear-gradient(rgba(82, 82, 82, 0.527),rgba(146, 120, 107, 0.53)), url("static/img/prewed/HWS01596-min.JPG");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

/* img {
    width: 100px;
    margin: 10px;
} */

.pink {
    background-color: #DEB8A7;
}

.video {
    max-width: 640px;
    max-height: 480px;
}

.content {
    padding-top: 55px;
}

.pesan {
    margin-top: 2rem;
    max-height: 25rem;
    overflow-y: scroll;
}

#diundang {
    margin: 1rem;
}

.closeup {
    width: 10rem;
    border-radius: 50%;
}

.bg-gradasi {
    background-image: url("static/img/art/bg\ bottom\ with\ flower\ \(kirim\ pesan\ -\ protokol\)-04-min.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center; /* Center the image */
}

.bg-top {
    background-image: url("static/img/art/bg\ top\ with\ flower\ no\ photo\ \(beranda\ sd\ galeri\)-03-min.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center; /* Center the image */
}

@media only screen and (max-width: 768px) {
    .bg-gradasi {
        background-image: url("static/img/art/bg\ bottom\ \(kirim\ pesan\ -\ protokol\)-04-min.png");
        /* background-repeat: no-repeat; */
        background-size: cover;
        /* background-position: center; */
    }
    
    .bg-top {
        background-image: url("static/img/art/bg\ top\ no\ photo\ \(beranda\ sd\ galeri\)-03-min.png");
        /* background-repeat: no-repeat; */
        background-size: cover;
        /* background-position: center; */
    }

    .bunga {
        height: 3rem;
        width: 3rem;
    }

    .closeup {
        margin-bottom: 1rem;
    }
  }

.card {
    background-color: #F2F2F2;
    margin-bottom: 1rem;
}

.qr {
    width: 100%;
}

.btn-warning, .btn-warning:hover {
    background-color: #DEB8A7;
    border-color: #DEB8A7;
}
.bg-warning {
    background-color: #DEB8A7 !important;
    border-color: #DEB8A7;
}

nav {
    position: fixed;
    background-color: #f2f2f2;
}

.badag {
    font-size: 6rem;
    margin: 0 2rem;
}

.midd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.bulat {
    border-color: #DEB8A7;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 1rem 0.5rem 0 0.5rem;
}

.video {
    width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0 !important;
}

.bunga {
    height: 5rem;
    width: 5rem;
}

.stretch {
    display: flex;
    align-items: flex-start;
}

.scrollable {
    min-height: 95vh; /* or any value */
    background-color: #FFF1E1;
    /* margin-bottom: 25px; */
    /* text-align: center;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    //overflow-y: auto; */
}

.landing {
    min-height: 95vh; /* or any value */
    background-color: #FFF1E1;
    background-image: linear-gradient(to top, rgb(222, 184, 167), rgba(65, 65, 65, 0)), url("static/img/prewed/HWS01406-min.JPG");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    /* filter: brightness(80%); */
}

.header-text {
    margin-top: 4rem;
    font-size: 4rem;
}

.scrollable-half {
    min-height: 45vh; /* or any value */
    /* background-color: #DEB8A7; */
    /* margin-bottom: 25px; */
    /* border-radius: 2rem; */
    /* text-align: center;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    //overflow-y: auto; */
}

@font-face {
    font-family: 'Anastasia';
    src: url('static/font/Wyattruly-Regular.woff2') format('woff2'),
         url('static/font/Wyattruly-Regular.woff') format('woff'),
         url('static/font/Wyattruly-Regular.ttf') format('truetype');
}

.font-anastasia {
    font-family: 'Anastasia';
    color: #5A524F;
}

@font-face {
    font-family: 'Hellobaby';
    src: url('static/font/Hellobaby.woff2') format('woff2'),
         url('static/font/Hellobaby.woff') format('woff'),
         url('static/font/Hellobaby.ttf') format('truetype');
}

.font-hellobaby {
    font-family: 'Hellobaby';
    color: #5A524F;
}

@font-face {
    font-family: 'KitchenHome';
    src: url('static/font/KitchenHome.woff2') format('woff2'),
         url('static/font/KitchenHome.woff') format('woff'),
         url('static/font/KitchenHome.ttf') format('truetype');
}

.font-kitchenhome {
    font-family: 'KitchenHome';
    color: #5A524F;
}